name: build and push

on:
  push:

jobs:
  docker:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push generator
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            george124816/generator:latest
            george124816/generator:${{ github.sha }}

      # - name: Pull latest image
      #   run: docker pull george124816/generator:latest
      #
      # - name: Run the server
      #   run: |
      #       docker stack deploy -c docker-compose.yml --resolve-image always -d generator
